<h3>About IC Management</h3>
<p>IC Management System is a web application that allows you to track all change and incident processes in your company. To access the processes please login with your provided credentials or contact your administrator.</p>
<br />
<h4>Incident Management</h4>
<p>The first goal of the incident management process is to restore a normal service operation as quickly as possible and to minimize the impact on business operations.</p>
<br />
<h4>Change Management</h4>
<p>A request for change (RFC) may be raised to modify an IT service in order to resolve a problem. An incident or a problem may lead to a change.</p>